@media(max-width: 1440px)
{
    .sidebar
    {
        width: 350px;
    }

    .main-content, header
    {
        padding-left: 350px;
    }

    .stats
    {
        width: 572px;
        height: 217px;
        padding: 15px 100px 15px 140px;
    }

    .stats p
    {
        margin-top: 10px;
    }

    .stats .stats-title b
    {
        font-size: 60px;
        line-height: 60px;
    }

    .container
    {
        margin-left: auto;
        padding: 0 25px;
    }

    .main-slider .slider-item .container:after
    {
        left: 25px;
    }
}

@media(max-width: 1200px)
{
    .btn-menu
    {
        display: block;
    }

    .sidebar
    {
        transition: 0.5s;
        left: -100%;
    }

    .sidebar.active
    {
        left: 0;
    }

    .main-content, header
    {
        padding-left: 0;
    }

    header, .sidebar .logo-wrapper .logo
    {
        height: 75px;
    }

    body
    {
        padding-top: 75px;
    }

    .sidebar-content
    {
        padding-bottom: 30px;
    }

    .menu li
    {
        margin-bottom: 30px;
    }

    footer .container
    {
        max-width: 870px;
    }

    .footer-item
    {
        max-width: 170px;
    }
}

@media(max-width: 992px)
{
    .container, footer .container
    {
        max-width: 720px;
    }

    .pluses-wrapper .pluses-item
    {
        width: 50%;
    }

    .pluses-wrapper .pluses-item:nth-child(2):before
    {
        content: none;
    }

    .pluses-wrapper .pluses-item:nth-child(3):before
    {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: url(../images/icons/plus.png);
        z-index: 10;
        right: -1px;
        bottom: -1px;
        transform: translate(50%, 50%);
    }

    .partners-wrapper
    {
        flex-wrap: wrap;
    }

    .partners-wrapper .partner
    {
        margin-bottom: 15px;
    }
}