@media(max-width: 1440px)
{
    .sidebar
    {
        width: 350px;
    }

    .main-content, header
    {
        padding-left: 350px;
    }

    .stats
    {
        width: 572px;
        height: 217px;
        padding: 15px 100px 15px 140px;
    }

    .stats p
    {
        margin-top: 10px;
    }

    .stats .stats-title b
    {
        font-size: 60px;
        line-height: 60px;
    }

    .container
    {
        margin-left: auto;
        padding: 0 25px;
    }

    .main-slider .slider-item .container:after
    {
        left: 25px;
    }

    .abs-news-item
    {
        width: 400px;
    }
}

@media(max-width: 1200px)
{
    .btn-menu
    {
        display: block;
    }

    .sidebar
    {
        transition: 0.5s;
        left: -100%;
    }

    .sidebar.active
    {
        left: 0;
    }

    .main-content, header
    {
        padding-left: 0;
    }

    header, .sidebar .logo-wrapper .logo
    {
        height: 75px;
    }

    body
    {
        padding-top: 75px;
    }

    .sidebar-content
    {
        padding-bottom: 30px;
    }

    .menu li
    {
        margin-bottom: 30px;
    }

    footer .container
    {
        max-width: 870px;
    }

    .footer-item
    {
        max-width: 170px;
    }

    .abs-news-item
    {
        width: 410px;
    }
}

@media(max-width: 992px)
{
    .container, footer .container
    {
        max-width: 720px;
    }

    .pluses-wrapper .pluses-item
    {
        width: 50%;
    }

    .pluses-wrapper .pluses-item:nth-child(2):before
    {
        content: none;
    }

    .pluses-wrapper .pluses-item:nth-child(3):before
    {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: url(../images/icons/plus.png);
        z-index: 10;
        right: -1px;
        bottom: -1px;
        transform: translate(50%, 50%);
    }

    .partners-wrapper
    {
        flex-wrap: wrap;
    }

    .partners-wrapper .partner
    {
        margin-bottom: 15px;
    }

    .main-slider .slider-item
    {
        height: 600px;
    }

    .abs-news-item
    {
        width: 450px;
    }

    .abs-news-item .news-preview
    {
        width: 190px;
    }

    .abs-news-wrapper
    {
        justify-content: center;
    }

    .vacancies .title-wrapper, .vacancies .vacancies-list
    {
        padding: 0;
    }
}

@media(max-width: 756px)
{
    .container, footer .container
    {
        max-width: 100%;
    }

    .navbar .contact, .contact-us-title .contact
    {
        font-size: 0;
    }

    .navbar .contact, .contact-us-title .contact
    {
        width: 36px;
        height: 36px;
        
        padding-left: 0;
        border-radius: 50%;
        margin-left: 10px;
    }

    .navbar .contact
    {
        background: white;
    }

    .contact-us-title .contact
    {
        background: #1d1d1d;
    }

    .navbar .contact:after, .contact-us-title .contact:after
    {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .stats
    {
        width: 522px;
        height: 167px;
        padding: 10px 70px 10px 100px;
        left: auto;
        right: 10px;
        transform: none;
    }

    .stats .stats-title b
    {
        font-size: 40px;
        line-height: 40px;
    }

    .stats .stats-title
    {
        font-size: 24px;
    }

    .stats p
    {
        margin-top: 5px;
    }

    .contact-form-wrapper
    {
        margin: auto;
    }

    .ymap
    {
        display: none;
    }

    footer .container
    {
        flex-direction: column;
    }

    .footer-item
    {
        max-width: 100%;
        margin-bottom: 15px;
    }
    
}

@media(max-width: 576px)
{
    .abs-media-card
    {
        width: 100%;
        padding: 30px 10px;
    }

    .contact-form-wrapper
    {
        width: 100%;
    }

    .subscribe-form
    {
        flex-direction: column;
    }

    .sidebar
    {
        width: 100%;
    }

    .container
    {
        padding: 0 10px;
    }

    .news-wrapper .news-item
    {
        width: 100%;
        margin-bottom: 25px;
    }

    .news-wrapper
    {
        flex-direction: column;
    }

    .main-slider .slider-item
    {
        height: 520px;
    }

    .stats
    {
        width: 100%;
        height: 137px;
        right: 0;
        padding: 10px 53px 10px 56px;
    }

    .stats .stats-title b
    {
        display: inline;
        font-size: 20px;
        line-height: 20px;
    }

    .stats .stats-title
    {
        font-size: 20px;
    }

    .stats p
    {
        font-size: 14px;
    }

    .main-slider .slider-item .container
    {
        margin-top: 10px;
    }

    .sect-slider .slider-nav
    {
        bottom: 100px;
        left: 10px;
    }

    .subscribe-input
    {
        width: 100%;
        height: 43px;
    }

    .btn-subscribe
    {
        width: 165px;
        height: 50px;
        margin-top: 15px;
    }

    .pluses-wrapper .pluses-item
    {
        width: 100%;
    }

    .pluses-wrapper .pluses-item:nth-child(2):after, .pluses-wrapper .pluses-item:nth-child(3):before
    {
        content: none;
    }

    .partners-wrapper
    {
        justify-content: center;
    }

    .contact-form-wrapper
    {
        padding: 30px;
    }
    
    .btn-sidebar-close
    {
        display: block;
        position: absolute;
        width: 35px;
        height: 35px;
        right: 10px;
        border: none;
        background: none;
        border-radius: 50%;
    }

    .btn-sidebar-close:after, .btn-sidebar-close:before
    {
        content: "";
        width: 60%;
        top: 50%;
        height: 2px;
        background: #000000;
        left: 50%;
        position: absolute;
    }

    .btn-sidebar-close:after
    {
        transform: translate(-50%, -50%) rotate(-135deg);
    }

    .btn-sidebar-close:before
    {
        transform: translate(-50%, -50%) rotate(135deg);
    }

    .abs-news-item
    {
        padding-left: 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .abs-news-item .news-preview
    {
        position: relative;
        width: 250px;
        margin: 25px auto 0 auto;
    }

    .abs-filter
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .abs-select
    {
        margin-top: 15px;
    }

    .timer-title
    {
        text-align: center;
    }

    .vacancies .title-wrapper
    {
        flex-direction: column;
        margin-bottom: 25px;
    }

    
    .contact-info .col
    {
        max-width: 100%;
        margin: 0;
    }

    .contact-info .container
    {
        flex-direction: column;
    }

    .contact-info 
    {
        min-height: auto;
    }
}